
{% extends 'base/base.html' %}

{% block title %} Dashboard | Your Business Name {% endblock %}

{% block content %}
<div class="mr--10 ml--10">
                <div class="row" style="margin-right: 0rem;margin-left: 0rem">

                    <div class="col-6 col-md-6 col-sm-12">

                        <div class="panel panel-bordered">
                            <div class="panel-heading">
                                <div class="panel-actions"></div>
                                <h3 class="panel-title">Site Statistics</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xl-6 col-md-6 col-sm-6 info-panel">
                                        <a
                                            href=" https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/users ">
                                            <div class="card card-shadow" style="margin-bottom:0.243rem">
                                                <div class="card-block bg-white p-20">
                                                    <button type="button" class="btn btn-floating btn-sm btn-success"
                                                        style="box-shadow:0 4px 1px rgba(0,0,0,.63)">
                                                        <i class="fa fa-cab"></i>
                                                    </button>
                                                    <span class="ml-10 font-weight-400">Current Riders</span>
                                                    <div class="content-text text-center mb-0">
                                                        <span class="font-size-18 font-weight-100">6607</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xl-6 col-md-6 col-sm-6 info-panel">
                                        <a
                                            href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/area-management/country ">
                                            <div class="card card-shadow" style="margin-bottom:0.243rem">
                                                <div class="card-block bg-white p-20">
                                                    <button type="button" class="btn btn-floating btn-sm btn-warning"
                                                        style="box-shadow:0 4px 1px rgba(0,0,0,.63)">
                                                        <i class="icon fa-flag"></i>
                                                    </button>
                                                    <span class="ml-10 font-weight-400">Service Countries</span>
                                                    <div class="content-text text-center mb-0">
                                                        <span class="font-size-18 font-weight-100">199</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-md-6 col-sm-6 info-panel">
                                        <a
                                            href=" https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/driver ">
                                            <div class="card card-shadow" style="margin-bottom:0.243rem">
                                                <div class="card-block bg-white p-20">
                                                    <button type="button" class="btn btn-floating btn-sm btn-primary"
                                                        style="box-shadow:0 4px 1px rgba(0,0,0,.63)">
                                                        <i class="icon wb-users"></i>
                                                    </button>
                                                    <span class="ml-10 font-weight-400">Current Drivers</span>
                                                    <div class="content-text text-center mb-0">
                                                        <span class="font-size-18 font-weight-100">5498</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xl-6 col-md-6 col-sm-6 info-panel">
                                        <a
                                            href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/driver/going_to_expire_document">
                                            <div class="card card-shadow" style="margin-bottom:0.243rem">
                                                <div class="card-block bg-white p-20">
                                                    <button type="button" class="btn btn-floating btn-sm btn-danger"
                                                        style="box-shadow:0 4px 1px rgba(0,0,0,.63)">
                                                        <i class="icon wb-file"></i>
                                                    </button>
                                                    <span class="ml-10 font-weight-400">Documents Near Expiry</span>
                                                    <div class="content-text text-center mb-0">
                                                        <span class="font-size-18 font-weight-100">4</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-6 col-sm-12">

                        <div class="panel panel-bordered">
                            <div class="panel-heading">
                                <div class="panel-actions"></div>
                                <h3 class="panel-title">Trips Statistics</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xl-6 col-md-6 col-sm-6 info-panel">
                                        <a
                                            href=" https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/booking/all ">
                                            <div class="card card-shadow" style="margin-bottom:0.243rem">
                                                <div class="card-block bg-white p-20">
                                                    <button type="button" class="btn btn-floating btn-sm btn-info"
                                                        style="box-shadow:0 4px 1px rgba(0,0,0,.63)">
                                                        <i class="icon fa-calculator"></i>
                                                    </button>
                                                    <span class="ml-10 font-weight-400">Total</span>
                                                    <div class="content-text text-center mb-0">
                                                        <span class="font-size-18 font-weight-100">3866</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xl-6 col-md-6 col-sm-6 info-panel">
                                        <a
                                            href=" https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/booking/activeride ">
                                            <div class="card card-shadow" style="margin-bottom:0.243rem">
                                                <div class="card-block bg-white p-20">
                                                    <button type="button" class="btn btn-floating btn-sm btn-warning"
                                                        style="box-shadow:0 4px 1px rgba(0,0,0,.63)">
                                                        <i class="icon fa-road"></i>
                                                    </button>
                                                    <span class="ml-10 font-weight-400">On Going</span>
                                                    <div class="content-text text-center mb-0">
                                                        <span class="font-size-18 font-weight-100">1</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-md-6 col-sm-6 info-panel">
                                        <a
                                            href=" https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/booking/cancel ">
                                            <div class="card card-shadow" style="margin-bottom:0.243rem">
                                                <div class="card-block bg-white p-20">
                                                    <button type="button" class="btn btn-floating btn-sm btn-danger"
                                                        style="box-shadow:0 4px 1px rgba(0,0,0,.63)">
                                                        <i class="icon fa-times"></i>
                                                    </button>
                                                    <span class="ml-10 font-weight-400">Cancelled</span>
                                                    <div class="content-text text-center mb-0">
                                                        <span class="font-size-18 font-weight-100">504</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xl-6 col-md-6 col-sm-6 info-panel">
                                        <a
                                            href=" https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/booking/complete ">
                                            <div class="card card-shadow" style="margin-bottom:0.243rem">
                                                <div class="card-block bg-white p-20">
                                                    <button type="button" class="btn btn-floating btn-sm btn-success"
                                                        style="box-shadow:0 4px 1px rgba(0,0,0,.63)">
                                                        <i class="icon wb-check"></i>
                                                    </button>
                                                    <span class="ml-10 font-weight-400">Completed</span>
                                                    <div class="content-text text-center mb-0">
                                                        <span class="font-size-18 font-weight-100">1839</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-right: 0;margin-left: 0">
                    <div class="col-xl-3 col-md-6 col-sm-6 info-panel">
                        <a href=" https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/corporate ">
                            <div class="card card-shadow">
                                <div class="card-block bg-white ml-20 p-20">
                                    <button type="button" class="btn btn-floating btn-sm btn-primary"
                                        style="box-shadow:0 4px 1px rgba(0,0,0,.63)">
                                        <i class="icon fa-industry"></i>
                                    </button>
                                    <span class="ml-10 font-weight-400">Corporate Panels</span>
                                    <div class="content-text text-center mb-0">
                                        <span class="font-size-18 font-weight-100">59</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 info-panel">
                        <a
                            href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/area-management/countryareas">
                            <div class="card card-shadow">
                                <div class="card-block bg-white ml-20  p-20">
                                    <button type="button" class="btn btn-floating btn-sm btn-warning"
                                        style="box-shadow:0 4px 1px rgba(0,0,0,.63)">
                                        <i class="icon fa-area-chart"></i>
                                    </button>
                                    <span class="ml-10 font-weight-400">Service Areas</span>
                                    <div class="content-text text-center mb-0">
                                        <span class="font-size-18 font-weight-100">342</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 info-panel">
                        <div class="card card-shadow">
                            <div class="card-block bg-white ml-20 p-20">
                                <button type="button" class="btn btn-floating btn-sm btn-success"
                                    style="box-shadow:0 4px 1px rgba(0,0,0,.63)">
                                    <i class="icon wb-file"></i>
                                </button>
                                <span class="ml-10 font-weight-400">Coming Soon</span>
                                <div class="content-text text-center mb-0">
                                    <span class="font-size-18 font-weight-100">--</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 info-panel">
                        <div class="card card-shadow">
                            <div class="card-block bg-white ml-20 p-20">
                                <button type="button" class="btn btn-floating btn-sm btn-primary"
                                    style="box-shadow:0 4px 1px rgba(0,0,0,.63)">
                                    <i class="icon wb-user"></i>
                                </button>
                                <span class="ml-10 font-weight-400">Coming Soon</span>
                                <div class="content-text text-center mb-0">
                                    <span class="font-size-18 font-weight-100">--</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="panel">
                <header class="panel-heading">
                    <div class="panel-actions"></div>
                    <h3 class="panel-title">Recent Bookings</h3>
                </header>
                <div class="panel-body">
                    <div id="customDataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-6"></div>
                            <div class="col-sm-12 col-md-6">
                                <div id="customDataTable_filter" class="dataTables_filter"><label>Search:<input
                                            type="search" class="form-control form-control-sm" placeholder=""
                                            aria-controls="customDataTable"></label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="dataTables_scroll">
                                    <div class="dataTables_scrollHead"
                                        style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                                        <div class="dataTables_scrollHeadInner"
                                            style="box-sizing: content-box; width: 1628.53px; padding-right: 0px;">
                                            <table
                                                class="display nowrap table table-hover table-striped w-full dataTable no-footer"
                                                style="width: 1628.53px; margin-left: 0px;" role="grid">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="sorting_asc" tabindex="0"
                                                            aria-controls="customDataTable" rowspan="1" colspan="1"
                                                            style="width: 13.0469px;" aria-sort="ascending"
                                                            aria-label="Id: activate to sort column descending">Id</th>
                                                        <th class="sorting" tabindex="0" aria-controls="customDataTable"
                                                            rowspan="1" colspan="1" style="width: 87.3438px;"
                                                            aria-label="Rider Details: activate to sort column ascending">
                                                            Rider Details</th>
                                                        <th class="sorting" tabindex="0" aria-controls="customDataTable"
                                                            rowspan="1" colspan="1" style="width: 92.0469px;"
                                                            aria-label="Driver Details: activate to sort column ascending">
                                                            Driver Details</th>
                                                        <th class="sorting" tabindex="0" aria-controls="customDataTable"
                                                            rowspan="1" colspan="1" style="width: 73.9844px;"
                                                            aria-label="Ride Detail: activate to sort column ascending">
                                                            Ride Detail</th>
                                                        <th class="sorting" tabindex="0" aria-controls="customDataTable"
                                                            rowspan="1" colspan="1" style="width: 486.359px;"
                                                            aria-label="Pickup Location: activate to sort column ascending">
                                                            Pickup Location</th>
                                                        <th class="sorting" tabindex="0" aria-controls="customDataTable"
                                                            rowspan="1" colspan="1" style="width: 162.484px;"
                                                            aria-label="Drop off Location: activate to sort column ascending">
                                                            Drop off Location</th>
                                                        <th class="sorting" tabindex="0" aria-controls="customDataTable"
                                                            rowspan="1" colspan="1" style="width: 60.8281px;"
                                                            aria-label="Payment: activate to sort column ascending">
                                                            Payment</th>
                                                        <th class="sorting" tabindex="0" aria-controls="customDataTable"
                                                            rowspan="1" colspan="1" style="width: 128.062px;"
                                                            aria-label="Current Status: activate to sort column ascending">
                                                            Current Status</th>
                                                        <th class="sorting" tabindex="0" aria-controls="customDataTable"
                                                            rowspan="1" colspan="1" style="width: 92.1406px;"
                                                            aria-label=" Booking Date: activate to sort column ascending">
                                                            Booking Date</th>
                                                        <th class="sorting_disabled" rowspan="1" colspan="1"
                                                            style="width: 74.2344px;" aria-label="Action">Action</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="dataTables_scrollBody"
                                        style="position: relative; overflow: auto; width: 100%;">
                                        <table id="customDataTable"
                                            class="display nowrap table table-hover table-striped w-full dataTable no-footer"
                                            style="width: 100%;" role="grid" aria-describedby="customDataTable_info">
                                            <thead>
                                                <tr role="row" style="height: 0px;">
                                                    <th class="sorting_asc" aria-controls="customDataTable" rowspan="1"
                                                        colspan="1"
                                                        style="width: 13.0469px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;"
                                                        aria-sort="ascending"
                                                        aria-label="Id: activate to sort column descending">
                                                        <div class="dataTables_sizing"
                                                            style="height: 0px; overflow: hidden;">Id</div>
                                                    </th>
                                                    <th class="sorting" aria-controls="customDataTable" rowspan="1"
                                                        colspan="1"
                                                        style="width: 87.3438px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;"
                                                        aria-label="Rider Details: activate to sort column ascending">
                                                        <div class="dataTables_sizing"
                                                            style="height: 0px; overflow: hidden;">Rider Details</div>
                                                    </th>
                                                    <th class="sorting" aria-controls="customDataTable" rowspan="1"
                                                        colspan="1"
                                                        style="width: 92.0469px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;"
                                                        aria-label="Driver Details: activate to sort column ascending">
                                                        <div class="dataTables_sizing"
                                                            style="height: 0px; overflow: hidden;">Driver Details</div>
                                                    </th>
                                                    <th class="sorting" aria-controls="customDataTable" rowspan="1"
                                                        colspan="1"
                                                        style="width: 73.9844px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;"
                                                        aria-label="Ride Detail: activate to sort column ascending">
                                                        <div class="dataTables_sizing"
                                                            style="height: 0px; overflow: hidden;">Ride Detail</div>
                                                    </th>
                                                    <th class="sorting" aria-controls="customDataTable" rowspan="1"
                                                        colspan="1"
                                                        style="width: 486.359px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;"
                                                        aria-label="Pickup Location: activate to sort column ascending">
                                                        <div class="dataTables_sizing"
                                                            style="height: 0px; overflow: hidden;">Pickup Location</div>
                                                    </th>
                                                    <th class="sorting" aria-controls="customDataTable" rowspan="1"
                                                        colspan="1"
                                                        style="width: 162.484px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;"
                                                        aria-label="Drop off Location: activate to sort column ascending">
                                                        <div class="dataTables_sizing"
                                                            style="height: 0px; overflow: hidden;">Drop off Location
                                                        </div>
                                                    </th>
                                                    <th class="sorting" aria-controls="customDataTable" rowspan="1"
                                                        colspan="1"
                                                        style="width: 60.8281px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;"
                                                        aria-label="Payment: activate to sort column ascending">
                                                        <div class="dataTables_sizing"
                                                            style="height: 0px; overflow: hidden;">Payment</div>
                                                    </th>
                                                    <th class="sorting" aria-controls="customDataTable" rowspan="1"
                                                        colspan="1"
                                                        style="width: 128.062px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;"
                                                        aria-label="Current Status: activate to sort column ascending">
                                                        <div class="dataTables_sizing"
                                                            style="height: 0px; overflow: hidden;">Current Status</div>
                                                    </th>
                                                    <th class="sorting" aria-controls="customDataTable" rowspan="1"
                                                        colspan="1"
                                                        style="width: 92.1406px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;"
                                                        aria-label=" Booking Date: activate to sort column ascending">
                                                        <div class="dataTables_sizing"
                                                            style="height: 0px; overflow: hidden;"> Booking Date</div>
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1"
                                                        style="width: 74.2344px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;"
                                                        aria-label="Action">
                                                        <div class="dataTables_sizing"
                                                            style="height: 0px; overflow: hidden;">Action</div>
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody>

                                                <tr role="row" class="odd">
                                                    <td
                                                        class="custom_datatable_width custom_datatable_padding sorting_1">
                                                        <a target="_blank" class="hyperLink"
                                                            href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/booking/11397">4014</a>
                                                    </td>
                                                    <td class="custom_datatable_width custom_datatable_padding">
                                                        <span class="long_text">
                                                            ********er
                                                            <br>
                                                            ********70
                                                            <br>
                                                            ********om
                                                        </span>--}}
                                                    </td>
                                                    <td class="custom_datatable_width custom_datatable_padding">
                                                        <span class="long_text">
                                                            ********er
                                                            <br>
                                                            ********52
                                                            <br>
                                                            ********om
                                                        </span>
                                                    </td>
                                                    <td class="custom_datatable_width custom_datatable_padding">
                                                        gurugram<br>
                                                        Normal<br>
                                                        Micro
                                                    </td>
                                                    <td class="custom_datatable_width custom_datatable_padding"><a
                                                            title="M-47, Block - 56, Block M, Chittaranjan Park, New Delhi, Delhi 110019, India"
                                                            class="map_address hyperLink long_text" target="_blank"
                                                            href="https://www.google.com/maps/place/M-47, Block - 56, Block M, Chittaranjan Park, New Delhi, Delhi 110019, India">M-47,
                                                            Block - 56, Block M, Chittaranjan Park, New Delhi, Delhi
                                                            110019, India</a>
                                                    </td>
                                                    <td class="custom_datatable_width custom_datatable_padding"><a
                                                            title="Lajpat Nagar Metro Station"
                                                            class="map_address hyperLink long_text" target="_blank"
                                                            href="https://www.google.com/maps/place/Lajpat Nagar Metro Station">Lajpat
                                                            Nagar Metro Station</a>
                                                    </td>
                                                    <td class="custom_datatable_width custom_datatable_padding">
                                                        Cash
                                                    </td>
                                                    <td class="custom_datatable_width custom_datatable_padding">
                                                        admin.driverAccepted <br>
                                                        At <br>
                                                        00:42:33
                                                    </td>
                                                    <td class="custom_datatable_width custom_datatable_padding">
                                                        Sep 4, 2021
                                                    </td>
                                                    <td class="custom_datatable_width custom_datatable_padding">
                                                        <a target="_blank" title="Driver Request"
                                                            href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/ride/request/11397"
                                                            class="btn btn-sm btn-warning menu-icon btn_detail action_btn"><i
                                                                class="fa fa-list-alt"></i></a>
                                                        <a target="_blank" title="Booking Detail"
                                                            href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/booking/11397"
                                                            class="btn btn-sm btn-info menu-icon btn_money action_btn"><i
                                                                class="fa fa-info-circle"
                                                                title="Booking Details"></i></a>
                                                        <a data-target="#cancelbooking" data-toggle="modal" id="11397"
                                                            data-original-title="Cancel Booking" data-placement="top"
                                                            class="btn btn-sm btn-danger menu-icon btn_delete action_btn">
                                                            <i class="fa fa-times"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="customDataTable_info" role="status" aria-live="polite">
                                    Showing 1 to 1 of 1 entries</div>
                            </div>
                            <div class="col-sm-12 col-md-7"></div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}