<div class="site-menubar">
    <div class="site-menubar-body scrollable scrollable-inverse is-enabled scrollable-vertical hoverscorll-disabled"
        style="position: relative;">
        <div class="scrollable-container" style="height: 141.984px; width: 268px;">
            <div class="scrollable-content" style="width: 260px;">
                <ul class="site-menu" data-plugin="menu" id="myMenueee" style="transform: translate3d(0px, 0px, 0px);">
                    <li class="site-menu-item">
                        <a href="{% url 'dashboard' %}">
                            <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                            <span class="site-menu-title">DashBoard</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"
                        aria-expanded="false" role="button">
                            <i class="site-menu-icon fa-globe" ></i>
                            <span class="site-menu-title">Website Management</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="{% url 'web_user' %}">
                                    <span class="site-menu-title">Web User</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/website-driver-home-headings">
                                    <span class="site-menu-title">Web Driver</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-category" id="general-title">Associates</li>
                    <li class="site-menu-item">
                        <a href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/taxicompany"><i class="site-menu-icon fa-handshake-o" aria-hidden="true"></i><span class="site-menu-title">Taxi Companies</span></a>
                    </li>
                    <li class="site-menu-item">
                        <a href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/corporate">
                            <i class="site-menu-icon fa-industry" aria-hidden="true"></i>
                            <span class="site-menu-title">Corporate Panels</span>
                        </a>
                    </li>
                    <li class="site-menu-category" id="general-title">Mandatory Setup</li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon fa-cog" aria-hidden="true"></i>
                            <span class="site-menu-title">Basic Setup</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/area-management/country">
                                    <span class="site-menu-title">Countries</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/area-management/countryareas">
                                    <span class="site-menu-title">Service Areas</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/vehicle-management/vehicletype">
                                    <span class="site-menu-title">Vehicle Types</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/vehicle-management/vehiclemake">
                                    <span class="site-menu-title">Vehicle Makes</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/vehicle-management/vehiclemodel">
                                    <span class="site-menu-title">Vehicle Models</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/documents">
                                    <span class="site-menu-title">Documents Master List</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/pricingparameter">
                                    <span class="site-menu-title">Pricing Parameters</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon fa-tags" aria-hidden="true"></i>
                            <span class="site-menu-title">Pricing Card</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/pricecard">
                                    <span class="site-menu-title">Taxi App</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/pricecard/surgecharge">
                                    <span class="site-menu-title">Surge-Charge</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item">
                        <a href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/promocode">
                            <i class="site-menu-icon fa-percent" aria-hidden="true"></i>
                            <span class="site-menu-title">Promo Codes Setup</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/referral-system">
                            <i class="site-menu-icon fa-share-alt" aria-hidden="true"></i>
                            <span class="site-menu-title">Referral System</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon fa-cubes" aria-hidden="true"></i>
                            <span class="site-menu-title">Packages Management</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/rental/packages">
                                    <span class="site-menu-title">Rentals</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/outstationpackage">
                                    <span class="site-menu-title">Outstation</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-category" id="booking-title">Booking</li>
                    <li class="site-menu-item">
                        <a href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/manual-dispatch">
                            <i class="site-menu-icon fa fa-truck" aria-hidden="true"></i>
                            <span class="site-menu-title">Manual Dispatch</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon fa-car" aria-hidden="true"></i>
                            <span class="site-menu-title">Rides Management</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/booking/activeride">
                                    <span class="site-menu-title">Active Rides</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/booking/complete">
                                    <span class="site-menu-title">Completed Rides</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/booking/cancel">
                                    <span class="site-menu-title">Cancelled Rides</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/booking/failride">
                                    <span class="site-menu-title">Failed Rides</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/booking/autocancel">
                                    <span class="site-menu-title">Auto Cancel Rides</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/booking/all">
                                    <span class="site-menu-title">All Rides</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item">
                        <a href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/ratings">
                            <i class="site-menu-icon fa-star-half-o" aria-hidden="true"></i>
                            <span class="site-menu-title">Reviews &amp; Ratings</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/transactions">
                            <i class="site-menu-icon fa fa-exchange" aria-hidden="true"></i>
                            <span class="site-menu-title">Transactions</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon fa fa-line-chart" aria-hidden="true"></i>
                            <span class="site-menu-title">Reports &amp; Charts</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/report/booking">
                                    <span class="site-menu-title">Booking Time Reports</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/report/bookingVariance">
                                    <span class="site-menu-title">Booking Variance Reports</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/report/user/wallet">
                                    <span class="site-menu-title">Riders Wallet Reports</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/report/driver/wallet">
                                    <span class="site-menu-title">Driver Wallet Reports</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/report/driver/acceptance">
                                    <span class="site-menu-title">Ride Acceptance Reports</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/charts/driver">
                                    <span class="site-menu-title">Driver Charts</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/report/driver/online/time">
                                    <span class="site-menu-title">Driver Online Time</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/report/referral">
                                    <span class="site-menu-title">Referral Report</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/report/promocode">
                                    <span class="site-menu-title">Promo Code Report</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-category" id="driver-title">Driver</li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon fa-drivers-license" aria-hidden="true"></i>
                            <span class="site-menu-title">Drivers Management</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/driver">
                                    <span class="site-menu-title">All Drivers</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/driver/create">
                                    <span class="site-menu-title">Add Driver</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/drivers/basic">
                                    <span class="site-menu-title">Basic SignUp Driver</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/drivers/pending">
                                    <span class="site-menu-title">Pending Driver Approvals</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/pending/rejected">
                                    <span class="site-menu-title">Rejected Drivers</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/driver/going_to_expire_document">
                                    <span class="site-menu-title">Documents Near Expiry</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/driver/expiredocument">
                                    <span class="site-menu-title">Expired Documents</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon fa-cab" aria-hidden="true"></i>
                            <span class="site-menu-title">Driver Vehicles</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/allvehicles">
                                    <span class="site-menu-title">All Vehicles</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item">
                        <a href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/accounts">
                            <i class="site-menu-icon fa-book" aria-hidden="true"></i>
                            <span class="site-menu-title">Driver Accounts</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon fa-map" aria-hidden="true"></i>
                            <span class="site-menu-title">Maps</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/drivermap">
                                    <span class="site-menu-title">Driver Map</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/heatmap">
                                    <span class="site-menu-title">Heat Map</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-category" id="rider-title">Rider</li>
                    <li class="site-menu-item">
                        <a href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/users">
                            <i class="site-menu-icon wb-users" aria-hidden="true"></i>
                            <span class="site-menu-title">Riders Management</span>
                        </a>
                    </li>
                    <li class="site-menu-category" id="rider-title">Subscription Management</li>
                    <li class="site-menu-item">
                        <a href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/subscription">
                            <i class="site-menu-icon fa-cube" aria-hidden="true"></i>
                            <span class="site-menu-title">Packages</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/duration">
                            <i class="site-menu-icon fa-hourglass-2" aria-hidden="true"></i>
                            <span class="site-menu-title">Packages Duration</span>
                        </a>
                    </li>
                    <li class="site-menu-category" id="rider-title">Support System</li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon fa-volume-control-phone" aria-hidden="true"></i>
                            <span class="site-menu-title">SOS</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/sos">
                                    <span class="site-menu-title">SOS Numbers</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/sos-requests">
                                    <span class="site-menu-title">SOS Requests</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link"
                            href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/customer_support">
                            <i class="site-menu-icon fa-support" aria-hidden="true"></i>
                            <span class="site-menu-title">Customer Support</span>
                        </a>
                    </li>
                    <li class="site-menu-category" id="other-title">Others</li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon fa-pencil-square" aria-hidden="true"></i>
                            <span class="site-menu-title">Content Management</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/cms">
                                    <span class="site-menu-title">CMS Pages</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/terms">
                                    <span class="site-menu-title">Driver/User T&amp;C</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/languagestring">
                                    <span class="site-menu-title">Language Management</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/applicationstring">
                                    <span class="site-menu-title">Application Strings</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item">
                        <a href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/promotions">
                            <i class="site-menu-icon wb-bell" aria-hidden="true"></i>
                            <span class="site-menu-title">Promotional Notifications</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/wallet_recharge">
                            <i class="site-menu-icon fa-money" aria-hidden="true"></i>
                            <span class="site-menu-title">Wallet Recharge</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a
                            href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/advertisement/banner">
                            <i class="site-menu-icon fa-bullhorn" aria-hidden="true"></i>
                            <span class="site-menu-title">Advertisement Banners</span>
                        </a>
                    </li>
                    <li class="site-menu-category" id="settings-title">Settings</li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon wb-users" aria-hidden="true"></i>
                            <span class="site-menu-title">Sub-Admins</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/subadmin">
                                    <span class="site-menu-title">Admin List</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/role">
                                    <span class="site-menu-title">Role</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon fas fa-cogs" aria-hidden="true"></i>
                            <span class="site-menu-title">Settings/Configurations</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/general_configuration">
                                    <span class="site-menu-title">General</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/booking_configuration">
                                    <span class="site-menu-title">Booking</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/payment-configuration">
                                    <span class="site-menu-title">Payment Configuration</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/paymentMethod">
                                    <span class="site-menu-title">Payment Method Options for Customer</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/app_configuration">
                                    <span class="site-menu-title">Application Configuration</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/driver_configuration">
                                    <span class="site-menu-title">Driver Configuration</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/serviceType">
                                    <span class="site-menu-title">Service Types</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/navigation-drawer">
                                    <span class="site-menu-title">Navigation Drawer</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/applicationtheme">
                                    <span class="site-menu-title">Application Theme</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/application">
                                    <span class="site-menu-title">Applications URL</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/onesignal">
                                    <span class="site-menu-title">Push Notification Settings</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link"
                                    href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/cancelreason">
                                    <span class="site-menu-title">Cancel Reasons</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="scrollable-bar scrollable-bar-vertical scrollable-bar-hide" draggable="false">
            <div class="scrollable-bar-handle" style="height: 30px;"></div>
        </div>
    </div>
    <div class="site-menubar-footer" id="sidebarfooter-title">
        <a href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/general_configuration"
            class="fold-show" data-placement="top" data-toggle="tooltip" data-original-title="General">
            <span class="icon fa-gears" aria-hidden="true"></span>
        </a>
        <a href="https://demo.apporioproducts.com/Apporiov19/public/merchant/admin/profile" data-placement="top"
            data-toggle="tooltip" data-original-title="Update Profile">
            <span class="icon wb-user" aria-hidden="true"></span>
        </a>
        <a href="{% url 'user_logout' %}" data-placement="top"
            data-toggle="tooltip" data-original-title="Logout">
            <span class="icon wb-power" aria-hidden="true"></span>
        </a>
    </div>
</div>